{% extends '_templates/base.njk' %}

<title>{% block page_title %}Default title{% endblock %}</title>

{% block content %}
<div class="container">
  <div class= "row">
    <div class= "col-md-10 offset-1">
 <h1> Why Austin?</h1>
  <p>What you hear is true. With vibrant entertainment, art and culture, inspiring cuisine and stunning outdoor experiences, Austin lets you create a soundtrack all your own. So take a look around, and put the Live Music Capital of the World® on your playlist.</p>
</div>

<!--I have no idea what's wrong with this carousel, I've figured out that the images are sized width: 1200px; height:800px. At first I made a carousel njk but then was like why can't i just put the code directly in the index bc it will only be on the index.. -->
<brk>
<div class="container w-1200" >
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
     {% for blog in blog.blogs %}
      <div class="carousel-item {% if loop.first %} active {% endif %}">
        <img src="img/landmarks/{{blog.image}}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ blog.headline }}</h5>
        </div>
      </div>
 {% endfor %} 

      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
         <brk>
    <div class="row">
       <div class="col-md-8 offset-2">
       {% for blog in blog.blogs %}
        <div>
        <h6> {{ blog.date }} <h6>
        <h3> <a href="blog/{{ blog.slug }}.html">{{ blog.headline }}</a></h3>
        {% endfor %}
      <div>
    <div>


{% endblock %}


