{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
  <div class="article">
       <div class="col-md-8 offset-2">
       {% for blog in blog.blogs %}
        <div>
          <brk>
        <h3> <a href="blog/{{ blog.slug }}.html">{{ blog.headline }}</a></h3>
         <h6> {{ blog.date }} <h6>
         <img src="img/landmarks/{{blog.image}} " class="card-img-top" alt="...">
          <brk>
          <brk>
      {% endfor %}
      <div>
  <div>



{% endblock %}