{% extends '_templates/base.njk' %}

{% block content %}
<article>
  <h1>Best Austin Restaurants</h1>
  <p>Check out Austin's most popular restaurants and cafes</p>

 <div class="row">
  {% for rest in restaurants.restaurants %}
  <div class="col-sm-6 bg-warning">
    <div class="card">
      <img src="img/restaurants/{{rest.image}} " class="img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title"> {{ rest.name }} </h5>
        <p class="card-text"> {{ rest.category}} </p>
        <p class="card-text"> {{rest.address}} </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</article>

{% endblock %}