// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

h3 {
  font-size: 1.5rem;
}

$primary:#e9b936;
$body-bg: #ededed;

article {
  margin-bottom: 1em;
  margin-top: 1em;
}

h6 {
  margin-top: 1em;

}

h1 {
  font: rgb(209, 173, 12);
}